@import 'Global';

.toasty{
    font-family: $font-style-2;
    width:fit-content;
    background-color: rgba(0,0,0,0.9);
    color:white;
    padding: 0 20px;
  position: fixed;
  font-size: 1em;
  font-weight: bolder;
  border-radius: $border-smooth;
}